{% extends 'base.html.twig' %}

{% block title %}New Membre{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Créer un nouveau membre</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('membre_index') }}">Retour à la liste</a>
{% endblock %}
